**/.idea
**/target/
!**/src/main/**
!**/src/test/**

# idea work files
*.iml

# eclipse work files
**/.settings/
/bin

.classpath
.factorypath
.project

# .jar
*.jar

# 无用的 md文件
**/**/*.md
/**/src/*.md
!beans/README.md
!test.md
